<div class=".col-md-6 text-center">
    <form action="/weather" method="POST">
    <input type="text" name="cityName" placeholder="Enter a city">
    <button type="submit" class="btn btn-outline-dark text-grey btn-lg">
        Submit</button>
    </form>
     <p>{{cityName}}</p>
</div>